.nav-logo {
    background-image: url(/src/components//Navbar/outeside.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 96px;
    background-size: contain;
    left: 140px;
    display: flex;
    align-items: center;
    
}

